*{
    margin:0;
    padding:0
}
.intro {
    background-image: url("../pictures/env2.jpg");
    min-height: 400px !important;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    
  }
#map{
    height: 500px;
    width: 90%;
    margin-left:5%;
    margin-right:5%;
    align-items: center;
    justify-content: center;
    border:10px solid blue;
    border-radius: 20px;
}
.section2 {
    background-color: rgb(255, 255, 255);
}

.id {
    margin-left: 40%;
}

.id2 {
    color:white;
    font-size:70px !important;
}